@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/static/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --font-main: "Montserrat", sans-serif;
  --background: rgb(24, 24, 24);
  --text-color: rgb(216, 218, 220);
}

body {
  font-family: var(--font-main);
  background-color: var(--background);
  color: var(--text-color);
}
